.content.solid {
    background-color: #f9f9f9;
}
.menu-card {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    min-height: 200px;
    margin-bottom: 20px;
    &:hover {
        .menu-card-background {
            transform: scale(1.2);
        }
        .menu-card-details {
            transform: translateY(-100%);
        }
        .menu-card-action {
            transform: translateY(0%);
            opacity: 1;
        }
    }
    &.chosen {
        .menu-card-background {
            transform: scale(1.2);
        }
        .menu-card-details {
            transform: translateY(-100%);
        }
        .menu-card-action {
            transform: translateY(0%);
            opacity: 1;
        }
    }
    .menu-card-background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: .3s ease;
        background-color: rgba(0,0,0,.5);
        background-blend-mode: multiply;
    }
    .menu-card-details {
        pointer-events: none;
        text-align: center;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 0;
        right: 0;
        color: #ffffff;
        transform: translateY(-50%);
        transition: .3s ease;
        p {
            margin: 0;
        }
        span {
            font-size: 10px;
            display: block;
            margin-bottom: 10px;
        }
    }
    .menu-card-action {
        text-align: center;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        transition: .3s ease;
        opacity: 0;
        .menu-ctrl-btn {
            color: #333333;
            font-size: 20px;
            font-weight: bold;
            background-color: #ecf0f1;
            outline: 0;
            border: 0;
            padding: 1px 15px 5px 15px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            display: inline-block;
        }
        .menu-ctrl-btn.min {
            background-color: #ecf0f1;
            font-size: 20px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .menu-ctrl-input {
            pointer-events: none;
            display: inline-block;
            width: 40px;
            color: #333333;
            text-align: center;
            padding: 5px 0;
            margin: 0 !important;
        }
    }
}
.search-container {
    margin: 0 15px;
    margin-bottom: 20px;
}
.proceed-order-btn {
    position: fixed;
    top: 65px;
    right: 10px;
    background-color: #badc58;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 30px;
    box-shadow: 0px 7px 16px -2px rgba(0,0,0,.3);
    cursor: pointer;
    z-index: 9;
    transition: .3s ease;
    transform: scale(0);
    opacity: 0;
    &.show {
        opacity: 1;
        transform: scale(1);
    }
}
.order-item {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    &:not(:last-child) {
        border-bottom: 2px dashed #ecf0f1;
    }
    &:last-of-type {
        border-bottom: 0;
    }
    div {
        span {
            display: block;
            padding-top: 15px;
        }
    }
}
.order-header {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ecf0f1;
}
.monitor {
    display: inline-block;
    width: 100%;
    .monitor-item-header {
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #aeaeae;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .monitor-item {
        display: inline-block;
        width: 100%;
        border-bottom: 1px dashed #aeaeae;
        padding-bottom: 10px;
        margin-bottom: 10px;
        div {
            span {
                display: block;
                margin-top: 15px;
            }
        }
        .batch-order-status {
            background-color: #f1c40f;
            color: #ffffff;
            text-align: center;
            border-radius: 5px;
            display: inline-block;
            padding: 5px;
            margin-top: -5px;
            cursor: pointer;
            font-weight: bold;
        }
        .menu-order-avatars {
            position: relative;
            padding-left: 15px;
            img {
                width: 50px;
                height: 50px;
                border-radius: 100%;
                margin-left: -15px;
                border: 4px solid #ecf0f1;
                float: left;
            }
            .menu-order-avatars-placeholder {
                width: 50px;
                height: 50px;
                margin-left: -15px;
                margin-top: 0;
                border-radius: 100%;
                border: 4px solid #ecf0f1;
                display: inline-block;
                background-color: #bdc3c7;
                position: relative;
                text-align: center;
                b {
                    display: block;
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

.order-detail-header {
    text-align: center;
}